<div class="nested-fields">
  <div class="form-group">
    <%= f.label :drone_name %>
    <%= f.text_field :drone_name, placeholder: "MG-1/T30/XAG P30/飛助 ect..."  %><br>
    <%= link_to_remove_association "remove drone", f %>
  </div>
</div>