<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p>
          <% if comment.blog.user.icon.present? %>
            <%= image_tag comment.blog.user.icon.url, class: 'rounded-circle mr15', width: '30', height: '30' %>
          <% else %>
            <%= image_tag 'guest_user.png', class: 'rounded-circle mr15', width: '30', height: '30' %>
          <% end %>
          <%= comment.blog.user.name %> : 
          <%= comment.talk %>
        </p>
      </li>
    <% end %>
  <% end %>
</ul>