<div class="drysh_home">
  <div class="home">Drysh</div>
    <h4>< <a id="color_custom">Dr</a>one Dia<a id="color_custom">ry</a> <a id="color_custom">Sh</a>aring ></h4>
  <div class="home_content">
    <h3>Drysh って？？</h3>
      <p>農業用ドローンの散布情報を共有できるアプリです</p>
      <p>農業用ドローンの情報を一番持っているのはユーザー自身だと思いこのアプリを作成しました</p>
      <p>みんなで作業日記を投稿することで農業用ドローンに関する様々な情報がここに集まります</p>
      <p>農業用ドローンユーザーのリアルな情報をあなたも投稿 or 検索してみませんか？</p>
      <p>新たな発見をして自分の作業に役立てましょう！</p>
    </h3>
  </div>
  <div class="home_content">
    <h3>誰に使ってもらいたいか？？</h3>
      <p>★ 農業用ドローンを持っている人</p>
      <p>★ 農業用ドローンを持っていないが、情報を知りたい人</p>
      <p>★ 農業用ドローンに興味のある人！</p>
      <p>投稿しなくても閲覧だけも可能です！</p>
      <p>非公開機能もあるので、自分の作業の記録用としても利用可能</p>
    </h3>
  </div>
  <div data-aos="fade-up" class="home_content">
    <h3>アプリでできること</h3>
      <p>・散布作業の記録</p>
      <a>→（作業後の振り返りも可能）</a>
      <p>・みんなの投稿の確認</p>
      <a>→（検索機能で自分の知りたい情報を素早くキャッチ）</a>
      <p>・日本全国のユーザーとの交流</p>
      <a>→（様々なユーザーとコメント機能でコミュニケーションが可能）</a>
    </h3>
  </div>

  <div class="row">
    <div class="col"><%= link_to 'アカウントの作成', new_user_registration_path, class:"btn btn-outline-dark w-100" %></div>
    <div class="col"><%= link_to 'ログイン', new_user_session_path, class:"btn btn-outline-dark w-100" %></div>
    <div class="col"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-outline-dark w-100" %></div>
    <div class="col"><%= link_to '管理者ログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-dark w-100" %></div>
  </div>
</div>