<div class="drysh_home">
  <h1>Drysh</h1>
    <h4>< <a id="color_custom">Dr</a>one Dia<a id="color_custom">ry</a> <a id="color_custom">Sh</a>aring ></h4>
  <h3>「Drysh」って？？</h3>
    <p>農業用ドローンの散布情報を交換できるアプリです</p>
    <p>みんなで日記を投稿することで農業用ドローンに関する様々な情報がここに集まります</p>
    <p>現農業用ドローンユーザーのリアルな情報をあなたも投稿 or 検索してみませんか？</p>
    <p>〜 誰かの投稿が自分の役にたつ / あなたの投稿が誰かの役にたつ 〜</p>

  <h3>アプリでできること</h3>
    <p>・散布作業の記録</p>
    <a>→（作業後の振り返りも可能）</a>
    <p>・みんなの投稿の確認</p>
    <a>→（検索機能で自分の知りたい情報を素早くキャッチ）</a>
    <p>・日本全国のユーザーとの交流</p>
    <a>→（様々なユーザーとコメント機能でコミュニケーションが可能）</a>

  <%= link_to 'アカウントの作成', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>

  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
  <%= link_to '管理者ログイン', users_guest_admin_sign_in_path, method: :post %>
